.linkedinButton {
    display: inline-block;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    background-image: url('/linkedin-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-color: white; 
  }
  
  .githubButton {
    display: inline-block;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    background-image: url('/github-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
  }
  
  .linkedinButton:hover,
  .githubButton:hover {
    opacity: 0.8;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .linkedinButton img, .githubButton img {
    opacity: 1; /* Ensure opacity is 1 (fully opaque) */
}